body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    display: block;
    box-sizing: border-box;
    margin: 0;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
  }

.header {
    border-bottom: 1px solid #e7e9fc;
    padding-bottom: 24px;
    padding-top: 24px;
  }
  
  .container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .logo-web {
    margin-right: 76px;
  }
  
  .header-list {
    display: flex;
    gap: 40px;
  }
  
  .nav-list {
    padding: 24px 0;
  }
  
  .adress-header {
    display: flex;
    gap: 40px;
  }
.title-section{
    padding: 188px 0;
}
.ben-container {
    display: block;
}
.title-container {
    max-width: 496px;

}

/* Common styles */
:root {
    --main-bg-color: #ffffff;
    --main-text-color: #2e2f42;
    --second-text-color: #434455;
}
body {
    background: #FFFFFF;
}
a{
    text-decoration: none;
}
h2 {
    color: var(--main-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* Header styles */


.logo-web {
    color: #4D5AE5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform:uppercase
}
.logo-studio {
    color: var(--main-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform:uppercase
}
.list {
    list-style-type: none;
    
}
.nav-list {
    color: var(--main-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    
}
.adress-list {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.adress-list:hover {
color: #404bbf;
}
.adress-list:focus {
    color: #404bbf;
    }

    .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.benefits{
    padding: 120px 0;
}
.list-flex {
    display: flex;
    gap: 24px;
}
/* Main styles */
.main {
}
.title-section{
background-color: var(--main-text-color);
}
.title {
    color: var(--main-bg-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    
}
.solutions-flex {
  display: flex;
  max-width: 496px;
  margin: 0 auto;
}
.button-studio {
    color: var(--main-bg-color);
    background-color: #4D5AE5;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
}
.button-studio:hover,
.button-studio:focus {
  background-color: #404bbf;
}
.benefits-section {
    font-family: 'Roboto',sans-serif;
    
}
.benefits-list {
    width: calc((100% - 72px) / 4);
}

.work-section {
    padding-bottom: 120px; 
}
.work-title {
    margin-bottom: 72px;
}
.list-work {
    display: flex;
    gap: 24px;
}
.work-list {
    width: calc((100% - 48px) / 3);

}
.features {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}
.about-features {
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color:#F4F4FD;;
    padding: 120px 0;

}
.list-comand {
    display: flex;
    gap: 24px; 

}
.team-list {    
    background-color: var(--main-bg-color);
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px; 
}
.team-title {
    margin-bottom: 72px; 

}
.first-worker {
    padding: 32px 16px;
}
.images {
}
.names {
    color:var(--main-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;
    text-align: center; 
}
.position {
    color: var(--second-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Footer styles */
.footer {
    background-color: var(--main-text-color);
    padding: 100px 0;
}
.logo-footer-web {
    color: #4D5AE5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform:uppercase;
    display: inline-block;
    margin-bottom: 16px; 
}
.logo-footer-studio {
    color:var(--main-bg-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform:uppercase}

.citation {
    color: var(--main-bg-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* Portfolio styles */
.nav-list:hover{
   color: #404bbf;
}
.nav-list:focus{
    color: #404bbf;
 }
.button-filtres {
    color: #4D5AE5;
    background: #f4f4fd;;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;   
    letter-spacing: 0.04em;
    border: 1px solid #e7e9fc;
}
.button-filtres:hover {
    background-color: #404BBF;
    color: var(--main-bg-color);
    border: 1px solid transparent;
}
.button-filtres:focus {
    background-color: #404BBF;
    color: var(--main-bg-color);
    border: 1px solid transparent ;
} 
.title-portfolio {
    color: var(--main-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.card-title {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.card-profit {
    color:var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.buttons-div {
    padding-top: 96px; 
    padding-bottom: 120px;
}
.list-portfolio{
    display: flex;
    justify-content: center; 
    gap:24px;
    margin-bottom: 72px;
}

.button-filtres {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px; 
}
.list-captures {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px;
}
.captures-li {
    width: calc((100% - 48px) / 3);
}
.name-captures {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;


}